
.main-container{
    display: flex;
    justify-content: center;
    border: 10px solid black;
    background-color: yellow;
    animation:drop 0.5s;
    height: 100vh;
    width: 100vw;
}
p{

    color: blue;
    font-family: sans-serif;
}
@keyframes drop{
  
    10%{
        background-color: blue;
    }
    20%{
        background-color: green;
    }
    30%{
        background-color: purple;
    }
    40%{
        background-color: blanchedalmond;
    }
    50%{
        background-color: beige;
    }
}